<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" batch="false"/>
		<httpRuntime targetFramework="4.5"/>
		<customErrors mode="Off"/>
		<pages>
			<controls>
				<add assembly="Brew.Webforms" namespace="Brew.Webforms.Widgets" tagPrefix="brew"/>
			</controls>
		</pages>
		<!--<httpModules>
			--><!-- IIS6 --><!--
			<add name="EventHookModule" type="Brew.Webforms.EventHookModule, Brew"/>
		</httpModules>-->
	</system.web>
	<system.webServer>
		<modules>
			<add name="EventHookModule" type="Brew.Webforms.EventHookModule, Brew.Webforms" preCondition="managedHandler"/>
		</modules>
	</system.webServer>
</configuration>