<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" batch="false"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <controls>
        <add assembly="Brew.Webforms" namespace="Brew.Webforms.Widgets" tagPrefix="brew"/>
      </controls>
    </pages>
  </system.web>
</configuration>