/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	/* white-space: pre; removed DHW since I don't want my <code> elements to act like <pre> unless I say so */
	word-spacing: normal;
	
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	overflow: auto;	
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}


.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

/* added 2102-08-03 DHW */
.token.jquery {
	text-decoration: underline;
}

/* added from http://aahacreative.com/2012/07/31/php-syntax-highlighting-prism/ */
.token.function, .token.constant {
	color: #07a;
}
.token.variable {
	color: #e90;
}

/* for line numbers */
code[class*="language-"] {
	counter-reset: linenumber;
}
span.line{
	display: inline-block;
	width: 100%;
	counter-increment: linenumber;
}
span.line:nth-child(odd){
	background: #f0f0f0;
}
span.line:before{
	content: counter(linenumber);
	font-size: 100%;
	width: 2em;
	display: inline-block;
	font-weight: normal;
	color: black;
	border-right: 1px solid black;
	margin-right: 5px;
	padding-right: 5px;
	text-align: right;
}
