/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; background: #222; }

::-moz-selection { background: #98B232; color: #fff; text-shadow: none; }
::selection { background: #98B232; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: normal; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid { }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* fonts */

@font-face { font-family: 'OpenSansLight'; src: url('fonts/OpenSans-Light-webfont.eot'); src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Light-webfont.woff') format('woff'), url('fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'OpenSansRegular'; src: url('fonts/OpenSans-Regular-webfont.eot'); src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'OpenSansSemibold'; src: url('fonts/OpenSans-Semibold-webfont.eot'); src: url('fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'OpenSansBold'; src: url('fonts/OpenSans-Bold-webfont.eot'); src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Bold-webfont.woff') format('woff'), url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'OpenSansExtrabold'; src: url('fonts/OpenSans-ExtraBold-webfont.eot'); src: url('fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-ExtraBold-webfont.woff') format('woff'), url('fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg'); font-weight: normal; font-style: normal; }

/* begin shellscape */

body { min-width: 990px; color: #fff; background: #222; font-size: 10px; line-height: 1; font-family: OpenSansRegular, Segoe UI, Myriad Pro, Arial, Helvetica; background: #222 url(../images/brew-bg.jpg) repeat-x -469px -390px fixed; }
a, a:visited, a:active { color: #fff; text-decoration: none; }
a:hover { text-decoration: underline; }

section { font-size: 1.2em; max-width: 800px; margin: 0 auto; min-height: 768px; position: relative; padding: 0 255px 0 280px; }
section h2 { color: #98B232; position: relative; font-size: 4em; text-transform: uppercase; font-family: OpenSansBold, Segoe UI, Myriad Pro, Arial, Helvetica; }
section h2 span { color: #fff; opacity: 0.5; position: absolute; top: 10px; right: 0; margin: 0; font-size: 0.8em; text-transform: uppercase; font-family: OpenSansLight, Segoe UI, Myriad Pro, Arial, Helvetica; }

/*#demo { padding: 10px; }*/
#demo .output > .ui-widget { margin: 20px; margin-left: 0; margin-top: 0; }
#demo .ui-tabs { margin-bottom: 20px; max-width: 600px; }
#demo .output { overflow: auto; height: auto; }
#demo pre { position: relative; max-height: 500px; overflow: auto; border: 10px solid #555; border-top: none; margin-top: 0; background: #f5f2f0; padding-left: 1em; }
#demo pre span.line { height: 18px; }
#demo pre span.line:before { width: 1em; height: 18px; }
#demo .source h3 { border: 10px solid #555; border-bottom: none; background: #fff; color: #555; font-size: 1.5em; font-family: OpenSansBold, Segoe UI, Myriad Pro, Arial, Helvetica; margin-bottom: 0; padding: 8px 10px; }
#demo .desc { line-height: 1.75; font-size: 14px; background: #191919; padding: 1.5em 1em 1em; position: relative; top: -8px; z-index: 2; -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.50); -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.50); box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.50); }
#demo .desc p { }
#demo .desc ul { }
#demo .desc li { }
#demo .desc h3 { }

aside { position: absolute; padding: 0px 20px; z-index: 9; }
aside a, aside h3 { display: block; padding: 0px 0 10px 0; text-transform: lowercase; font-size: 3.0em; }
aside a:hover { text-decoration: none; color: #98B232; }
aside h3 { opacity: 0.5; text-transform: uppercase; font-size: 1em; visibility: hidden; }
#nav { left: 0; top: 0; }
#info { right: 0; top: 0; background: url(../images/bg-brew.png) no-repeat 46px 46px; padding-top: 300px; width: 220px; }
#info a { color: #fff; text-align: right; padding-right: 68px; text-decoration: none; display: block; font-size: 4.0em; background: url(../images/site-glyphs.png) no-repeat; height: 50px; }
#info a.wiki { background-position: 168px -349px; }
#info a.source { background-position: 168px -450px; }
#info a.nuget { background-position: 168px -250px; }
#info a.donate { background-position: 168px -158px; }
#info .theme { text-align: right; padding-top: 30px; }
#info .theme a, #info a.home { padding: 0; background: none; height: inherit; }
#info .theme span { padding-right: 23px; display: block; }
#info a.home { position: absolute; width: 181px; height: 238px; top: 43px; right: 33px; }

#demo .index { line-height: 1.75; font-size: 14px; background: #191919; padding: 1.5em 1em 1em; position: relative; top: -8px; z-index: 2; -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.50); -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.50); box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.50); }
#demo .index strong { color: #98B232; }

footer { height: 249px; background: url(../images/bg-footer.png); }
footer div { position: relative; height: 249px; margin: 0 auto; width: 990px; }
footer p, footer nav { position: absolute; left: 14px; bottom: 14px; margin: 0; text-transform: lowercase; }
footer p { color: #333; font-size: 2.2em; font-family: OpenSansRegular, Segoe UI, Myriad Pro, Arial, Helvetica; }
footer nav { left: 258px; bottom: 4px; width: 127px; height: 47px; overflow: hidden; }
footer a { float: left; margin-right: 14px; }
footer a { background: url(../images/site-glyphs.png) no-repeat 0 -1px; width: 51px; height: 48px; }
footer a.twitter { background-position: -50px 0; }
footer a.github { background-position: -101px 0; width: 48px; }
